---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro'; // Antes Academics
import Stats from '../components/Stats.astro';
import Levels from '../components/Levels.astro';
import News from '../components/News.astro';
import Footer from '../components/Footer.astro';
import Adminssions from  '../components/Admissions.astro';
import Acadamic from '../components/Academic.astro';
---

<Layout title="U.E. Ernesto CHE Guevara | Inicio">

	<Navbar />
	<Hero />
	<main>
		<About />
		<Stats />
		<Levels/>
		<Adminssions/>
		<Acadamic/>
		<News />
	</main>
	<Footer/>
</Layout>